body { 
    font-family: 'Roboto', sans-serif; 
    background-color: white; 
}

.header {
    display: flex; 
    flex-direction: column;
    padding: 10px; 
    border-bottom: rgb(136, 243, 193) solid 2px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000; /* Ensures the header stays on top */
}

.container {
    margin-top: 160px; /* Offset content for the fixed header height */
}
        
.header { 
    display: flex; 
    flex-direction: column;
    padding: 10px; 
    border-bottom: rgb(127, 243, 206) solid 2px;
}
.header img {
    width: 350px;
}
        
.header h1 { 
    font-size: 24px; 
    color: #333; 
}
        
.nav { 
    display: flex;
    width: 100%;
    justify-content: space-between;  
}
.nav a{
    display: inline-flex;
    align-items: center;
    font-size: 16px; /* Adjust the size as needed */
}

.nav i {
    font-size: 18px; /* Adjust this to match the text size */
    line-height: 1; /* Ensures the icon height aligns properly */
    margin-left: 4px;
}

.nav a:hover {
    color: #80f4AC;
}

.nav .left {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.nav .right {
    display: flex;
    justify-content: space-around;
    width: 45%;
}
        
.nav a { 
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
}