body { 
    font-family: 'Roboto', sans-serif; 
    background-color: white; 
}

.container {
    margin: auto;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-bottom: rgb(136, 243, 193) solid 2px;
}
.header img {
    width: 350px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav a {
    display: inline-flex;
    align-items: center;
    font-size: 16px; /* Adjust the size as needed */
}

.nav i {
    font-size: 18px; /* Adjust this to match the text size */
    line-height: 1; /* Ensures the icon height aligns properly */
    margin-left: 4px;
}

.nav a:hover {
    color: #80f4ac;
}

.nav .left {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.nav .right {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* CSS untuk search bar */
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Menyelaraskan ke kanan */
}

.search-input {
    padding: 6px; /* Padding yang lebih kecil */
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px; /* Lebar input yang lebih kecil */
    margin-right: 5px; /* Jarak antara input dan tombol */
}

.search-button {
    background-color: #80f4ac; /* Warna latar belakang tombol */
    color: white; /* Warna font */
    border: none;
    border-radius: 5px;
    padding: 6px; /* Padding tombol yang lebih kecil */
    cursor: pointer; /* Menunjukkan bahwa ini bisa diklik */
}

.search-button i {
    font-size: 16px; /* Ukuran ikon */
}

.search-button:hover {
    background-color: #4fd894; /* Warna latar belakang saat hover */
}